.angular/
.dist/
node_modules/
*.log
.env.local
.DS_Store
Thumbs.db
dist/
out-tsc/
.vscode
.idea
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
/.vuepress/dist
/.cache
/.output
/.nuxt
/dist

# Storybook 
/storybook-static

# Ignore environment specific files
.env
.env.local
.env.*.local
