APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000
CLIENT_URL=http://localhost:4200

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=wallet_system
DB_USER=root
DB_PASS=secret

JWT_SECRET=your-jwt-secret
API_PREFIX=/api/v1
