<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Remove public folder from URL
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Handle requests
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
